:root {
  --ifm-color-primary: #b38cd9;
  --ifm-color-primary-dark: #9e6fc7;
  --ifm-color-primary-darker: #865bb0;
  --ifm-color-primary-light: #caa5e4;
  --ifm-font-family-base: 'Poppins', sans-serif;
}

body {
  background-color: #f9f5ff;
}

img.cat-image {
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 200px;
  height: 200px;
  display: block;
  margin: 0 auto;
}

img.cat-image:hover {
    transform: scale(1.07) rotate(-2deg);
    transition: transform 0.3s ease;
    z-index: 10;
}

.cat-name {
  text-align: center;
  font-weight: bold;
  margin-top: 0.5rem;
  color: #6a1b9a;
}
